.black--tea {
    margin-top: 10vh;
    /*display: block;*/

}

.black--tea img {
    height: 300px;
    width: 300px;
    border-radius: 35px;
}


h2, h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h3 + ul li, h3 + ol li {
    margin-left: 10px;
    line-height: 26px;


}