.nav-link{
    margin-right: 10px;
}



.style--tea{
    margin-top: 15vh;
    /*display: block;*/

}
.style--tea img{
    height: auto;
    width: 100%;
    border-radius: 3rem;
}


h2, h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
/*text next to image*/
h3 + ul li, h3 + ol li, p {
    margin-left: 10px;
    line-height: 26px;
    text-align: left;

}

.btn {
    margin-bottom: 20px;
}



.footer--div h3 {
    font-size: 20px;

}

.footer--div p, .footer--div h3 + ul li{
    margin-left: 0px;
    padding: 0px;
}

.btn-outline-success {
    text-transform: uppercase;
}