@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


/*---- background colors ----*/


body {
    font-family: Roboto, sans-serif;
    background-color: rgba(68, 177, 68, 0.3);
    color: #474545;
    scroll-behaviour: smooth;

}

img {
    max-width: 100%;
    height: auto
}

hr {
    margin-top: 50px;
    margin-bottom: 0px;
}

a:hover {
    color: #0082AF;
    border-bottom: 1px solid;
    border-bottom-color: #0082AF;
}

.container {
    margin-top: 20px;
}

.navbar {
    background-color: #93C47D;
    color: #ffffff;
    text-transform: uppercase;
}

/*links text color*/
.navbar-icon-color,
a {
    color: #ffffff;
}


a {
    color: #ffffff;
}

a:hover {
    color: #0082AF;
    border-bottom: 1px solid;
    border-bottom-color: #0082AF;
}

#logoimg {
    /*border-color: red;*/
    width: 50px;
    height: 50px;

    /*background-color: rgba(0, 125, 0, 0.5);*/

}

#logoimg img {
    margin-top: 0px;
    width: 50px;
    height: auto;
    border-radius: 50%;
}


.hero--img {
    background: #D0E4F5 url("../img/sm_arfan-abdulazeez-oi0FvNhkHy8-unsplash.jpg") repeat-x fixed 50% 0%;
    height: 350px;
    width: 100%;
}

.jumbo--box {
    background-color: rgba(32, 83, 32, 0.9);
    position: relative;
    left: 25%;
    top: 7em;
    height: 200px;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 0;
    color: #ffffff;
    /*font-size: 0.1em;*/
}

#welcome--hdr {
    position: relative;
    top: 30px;
    left: auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    text-transform: uppercase;


}

#welcome--text {
    position: relative;
    top: 30px;
    left: auto;
    /*line-height: 50px;*/
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: 120%;
    text-transform: uppercase;
}

#content1::after {
    content: "\a";
    white-space: pre;
}

#content2::before {
    content: "\a";
    white-space: pre;
}

/*--Tea selection-------*/
#tea-selection {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.selection--div {
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    background-color: rgba(182, 215, 168, .7);
    border-radius: 25px;
    display: inline-block;
    border-color: #050505;
}

.selection--div img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.selection--div h3, .selection--div p {
    margin-top: 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;

}

.selection--div h3 {
    text-transform: uppercase;
}

.selection--div a {
    color: #474545;
    border-bottom: 1px solid;
    border-bottom-color: #0082AF;
}

.selection--div a:hover {
    color: #0082AF;
    border-bottom: 1px solid;
    border-bottom-color: #0082AF;
}


.selection--div p {
    font-size: 80%;
    text-align: center;
}

.carousel--gallery {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

/* carousel*/
#carousel, #history {
    padding-top: 50px;
}

#ceremonies {
    margin-top: 20px;
    margin-bottom: 30px;
}


.carousel-caption {
    color: white;
    background-color: rgba(0, 130, 175, 0.3);
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .4),
    1px 1px 1px rgba(0, 0, 0, .4),
    1px -1px 0 rgba(0, 0, 0, .4),
    -1px -1px 0 rgba(0, 0, 0, .4);
    border-radius: 25px;
}

/*----History section----*/

.history--container {
    text-transform: uppercase;
    text-align: center;
    /*margin-top: 40px;*/
    /*margin-bottom: 20px;*/
}

.history--container .jumbotron {
    background-color: rgba(0, 0, 0, 0);
}

.reviews h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reviews p {
    margin-top: 30px;
    font-size: small;
    text-align: justify;
}

.reviews img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: auto;
    margin-left: auto;
}


#about--us {
    margin-top: 100px;
    margin-bottom: 100px;

}

#about--us h2 {
    margin-bottom: 30px;
}

.underground {
    height: 10px;
    text-align: right;
    font-size: 12px;
    margin-right: 15%;
}

.modal {
    color: #3a3a3a;
    background-color: rgba(204, 231, 189, 0.1);
}

.modal-body {
    background-color: rgba(182, 215, 168, .7);
}


.footer .col-4 {
    width: 33.33%;
}

.footer--div {
    color: #ffffff;
    background-color: #93C47D;
    margin-left: 2vw;
}


.footer--div li, .footer--div p, .footer--div a {
    font-size: small;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 0px;


}

footer {
    background-color: #93C47D;
    height: 200px;
}


footer h3, footer ul, footer p {
    margin-top: 10px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .2),
    1px 1px 1px rgba(0, 0, 0, .2),
    1px -1px 0 rgba(0, 0, 0, .2),
    -1px -1px 0 rgba(0, 0, 0, .2);
}


.footer--div h3 {
    font-size: 20px;
    text-align: center;

}

#contact-us i {
    font-size: 24px;
    letter-spacing: 3px;
}


/*----------small screens-------*/

@media screen and (max-width: 600px) {

    /*----------------------------*/
    .jumbo--box {
        background-color: rgba(32, 83, 32, 0.9);
        position: relative;
        left: 15%;
        top: 7em;
        height: 200px;
        width: 70%;
        border-radius: 20px;
        margin-bottom: 0;
    }

    #welcome--hdr {
        position: relative;
        top: 30px;
        left: auto;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 26px;
        text-transform: uppercase;

    }

    #welcome--text {
        position: relative;
        top: 30px;
        left: auto;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        text-transform: uppercase;
    }


    .selection--div {
        margin-left: 15px;
        margin-top: 25px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
        background-color: rgba(182, 215, 168, 0.7);
        border-radius: 25px;
        display: inline-block;

    }


    .reviews h2 {
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .reviews p {
        margin-top: 30px;
        font-size: smaller;
    }

    .reviews img {
        height: 80px;
        width: 80px;
        border-radius: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer--div h3 {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }

    .footer--div {
        margin-left: 2vw;
    }


    .footer--div li, .footer--div p, .footer--div a {
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
    }


    #contact-us i {
        font-size: 24px;
        letter-spacing: 3px;
    }

}


