@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


/*---- background colors ----*/
.color1 {
    color: #93C47D;
    color: #53B782;
    color: #00A790;
    color: #0096A1;
    color: #0082AF;
    color: #006DB5;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgba(0, 130, 175, .9);
    color: #ffffff;
}

.navbar {
    background-color: #93C47D;
    color: #a7a7a7;
    text-transform: uppercase;
}

/*links text color*/
.navbar-icon-color,
.navbar a {
    color: #ffffff;
}

.navbar a:hover{
    color: #0082AF;
    border-bottom: 1px solid;
    border-bottom-color: #0082AF;
}

.text--shadow {
    text-shadow: -1px 1px 2px rgba(0, 0, 0, .4),
    1px 1px 2px rgba(0, 0, 0, .4),
    1px -1px 0 rgba(0, 0, 0, .4),
    -1px -1px 0 rgba(0, 0, 0, .4);
}

#logoimg {
    border-color: red;
    width: 50px;
    height: 50px;

    /*background-color: rgba(0, 125, 0, 0.5);*/

}

#logoimg img {
    margin-top: 0px;
    width: 50px;
    height: auto;
}

/*!*info line*!*/
/*.info--line {*/
/*    height: 40px;*/
/*    padding: 4px;*/
/*    margin-top: 66px;*/
/*    text-align: left;*/
/*    color: #ec1717;*/
/*    background-color: blanchedalmond;*/
/*    letter-spacing: 4px;*/
/*    border: 1px solid #53B782;*/
/*    text-shadow: 6px 5px 4px rgba(28,110,164,0.3);*/
/*}*/
/*.info--line span{*/
/*    margin-top: 3px;*/
/*    margin-left: 10%;*/
/*    display:inline-block;*/
/*}*/
/*.info--line button{*/
/*    float: right;*/
/*    margin-right: 10vw;*/
/*    display:inline-block;*/
/*}*/

.hero--img {
    background: #D0E4F5 url("../img/arfan-abdulazeez-oi0FvNhkHy8-unsplash.jpg") no-repeat fixed 0% 50%;
    height: 350px;
}

.jumbo--box {
    background-color: rgba(182, 215, 168, .7);
    position: relative;
    left: 25%;
    top: 7em;
    height: 200px;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 0;
}

#welcome--hdr {
    position: relative;
    top: 30px;
    left: auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    text-transform: uppercase;



}

#welcome--text {
    position: relative;
    top: 30px;
    left: auto;
    /*line-height: 50px;*/
    line-height: 3em;
    text-align: center;
    vertical-align: middle;
    font-size: 120%;
    text-transform: uppercase;


}

/*--Tea selection-------*/
#tea-selection {
    width: 100%;
    margin-top: 20px;
    /*margin-left: auto;*/
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}


.selection--div {
    /*margin-left: auto;*/
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    background-color: rgba(182, 215, 168, .7);
    border-radius: 25px;
    display: inline-block;
}

.selection--div img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.selection--div h3, .selection--div p {
    margin-top: 8px;
    justify-content: center;
    text-align: center;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .4),
    1px 1px 1px rgba(0, 0, 0, .4),
    1px -1px 0 rgba(0, 0, 0, .4),
    -1px -1px 0 rgba(0, 0, 0, .4);
}

.selection--div p {
    font-size: 80%;
}

/*!*Benefits section*!*/
/*.benefits--container h2{*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*}*/

/*.benefits--container .col-sm-4 {*/
/*    margin-left: 2%;*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*    width: 30%;*/
/*    height: 300px;*/
/*    display: inline-block;*/


/*}*/
/*.tea-benefits-hero{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: 50%;*/
/*    background-color: #a7a7a7;*/
/*}*/

.carousel--gallery {
    text-align: center;
}

#ceremonies h1 {
    margin-bottom: 20px;
}

.carousel-caption {
    color: white;
    background-color: rgba(0, 130, 175, 0.3);
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .4),
    1px 1px 1px rgba(0, 0, 0, .4),
    1px -1px 0 rgba(0, 0, 0, .4),
    -1px -1px 0 rgba(0, 0, 0, .4);
    border-radius: 25px;
}

/*----History section----*/

.history--container {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.history--container .jumbotron {
    background-color: rgba(0, 0, 0, 0);
}


/*----------small screens-------*/

@media screen  and (max-width: 450px) {

    .jumbo--box {
        background-color: rgba(182, 215, 168, .7);
        position: relative;
        left: 15%;
        top: 7em;
        height: 200px;
        width: 70%;
        border-radius: 20px;
        margin-bottom: 0;
    }

    #welcome--hdr {
        position: relative;
        top: 30px;
        left: auto;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
        text-transform: uppercase;
        color: #11799d;
        /*text-shadow: -1px 1px 1px rgba(0, 0, 0, .4),*/
        /*            1px 1px 1px rgba(0, 0, 0, .4),*/
        /*            1px -1px 0 rgba(0, 0, 0, .4),*/
        /*            -1px -1px 0 rgba(0, 0, 0, .4);*/

    }

    #welcome--text {
        position: relative;
        top: 30px;
        left: auto;
        /*line-height: 50px;*/
        line-height: 3em;
        text-align: center;
        vertical-align: middle;
        font-size: 80%;
        text-transform: uppercase;
        color: #0082AF;
        text-shadow: -1px 1px 1px rgba(0, 0, 0, .4),
        1px 1px 1px rgba(0, 0, 0, .4),
        1px -1px 0 rgba(0, 0, 0, .4),
        -1px -1px 0 rgba(0, 0, 0, .4);
    }


    .selection--div {
        /*margin-left: auto;*/
        margin-left: 15px;
        margin-top: 25px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
        background-color: rgba(182, 215, 168, .7);
        border-radius: 25px;
        display: inline-block;
    }
}

