@import url('https://fonts.googleapis.com/css?family=Roboto|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}




/*---- background colors ----*/
.color1 {
    color: #93C47D;
    color: #53B782;
    color: #00A790;
    color: #0096A1;
    color: #0082AF;
    color: #006DB5;
}
body{
    font-family: Roboto, sans-serif;
    background-color: #0082AF;
    color: #93C47D;
}
.navbar {
    background-color: #93C47D;
    color: #a7a7a7;
}

/*links text color*/
.navbar-icon-color,
.navbar a {
    color: #3e70f3;
}




#logoimg {
    border-color: red;
    width: 50px;
    height: 50px;

    /*background-color: rgba(0, 125, 0, 0.5);*/

}
#logoimg img {
    margin-top: 0px;
    width: 50px;
    height: auto;
}

.info--line {
    height: 40px;
    padding: 4px;
    margin-top: 66px;
    text-align: left;
    color: #ec1717;
    background-color: blanchedalmond;
    letter-spacing: 4px;
    border: 1px solid #53B782;
    text-shadow: 6px 5px 4px rgba(28,110,164,0.3);
}
.info--line span{
    margin-top: 3px;
    margin-left: 10%;
    display:inline-block;
}
.info--line button{
    float: right;
    margin-right: 10vw;
    display:inline-block;
}

.hero--img {
    background: #D0E4F5 url("../img/arfan-abdulazeez-oi0FvNhkHy8-unsplash.jpg") no-repeat fixed 0% 50%;
    height: 300px;
}

.jumbo--box {
    background-color: rgba(182, 215, 168, .7);
    position: relative;
    left: 30%;
    top: 25px;
    height: 200px;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 0;
}
#welcome--hdr {
    position: relative;
    top:30px;
    left: auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    text-transform: uppercase;
    color: #0082AF;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, .4),
				  1px 1px 2px rgba(0, 0, 0, .4),
				  1px -1px 0 rgba(0, 0, 0, .4),
				  -1px -1px 0 rgba(0, 0, 0, .4);

}

#welcome--text{
    position: relative;
    top:30px;
    left: auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    text-transform: uppercase;
    color: #0082AF;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, .4),
				  1px 1px 2px rgba(0, 0, 0, .4),
				  1px -1px 0 rgba(0, 0, 0, .4),
				  -1px -1px 0 rgba(0, 0, 0, .4);
}

.selection--div{
    margin-left: 10%;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: rgba(182, 215, 168, .7);
    border-radius: 25px;
}

.selection--div img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.row h3, .row p {
    justify-content: center;
    text-align: center;
}